html {
  overflow: hidden;
  font-size: 16px;
  color: #404040;
  background: white;
  font-family: 'Lato';
}

header {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}

.header__options {
  display: none;
  list-style-type: none;
  padding: 0;
}

.header__logo {
  width: 5vw;
  height: 5vh;
}

.header__logo:first-child {
  margin-left: 4%;
}

.header__logo:last-child {
  margin-right: 4%;
}

.header__options__first {
  color: #9A93FF;
  font-size: 18px;
  font-weight: 900;
}

ul li {
  margin-right: 25px;
}

.header__button {
  display: none;
  border: none;
  background: #ADA7FF;
  border-radius: 999px;
  color: #ffffff;
  width: 146px;
  height: 55px;
  font-weight: 500;
  margin-right: 4%;
}

.hero__section {
  margin-right: 4%;
  width: 96%;
}

.hero__title {
  font-size: 4.2vh;
  line-height: 5vh;
  margin-left: 4%;
}

.hero__title__purple {
  color: #9A93FF
}

.hero__text {
  font-size: 12px;
  line-height: 15px;
  margin-left: 4%;
}

.hero__buttons {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 6%;
  margin-left: 4%;
}

.hero__button__adopt {
  background: #ADA7FF;
  border-radius: 999px;
  color: #ffffff;
  width: 146px;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
}

.hero__button__dogprint {
  margin-left: 5%;
}

.hero__button__play {
  margin-left: 10%;
}

.hero__text__forbutton {
  color: #ADA7FF;
}

.hero__blocks {
  width: 92%;
  display: flex;
  flex-direction: row;
}

.hero__item__first {
  list-style-type: none;
}

.hero__item__number {
  font-weight: 650;
  font-size: 30px;
  line-height: 38px;
}

.hero__item__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.block__dog, .block__cat {
  position: relative;
}

.block__dog {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.hero__block__dog, .hero__block__cat {
  position: absolute;
}

.hero__block__dog {
  height: 70%;
  width: 30%;
  top: 4%;
}

.hero__block__cat {
  height: 100%;
  width: 56%;
  top: 14%;
  left: 0%;
}

.block__foranimal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block__foranimal-cat {
  align-items: flex-end;
}

.hero__block__dogprint, .hero__block__catprint {
  width: 9%;
  height: 9%;
}

.hero__block__pets {
  width: 92%;
  margin-left: 4%;
}

.hero__block__backgroundcat {
  width: 40%;
  height: 70%;
}

.hero__block__backgrounddog {
  width: 50%;
  height: 70%;
}

@media (min-width: 768px) {
  header {
    border-bottom: none;
    margin-top: 2%;
    width: 95%;
    margin-left: auto;
    height: 10vh;
  }

  .header__options {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header__logo {
    height: 6vh;
  }

  .hero__title {
    position: absolute;
    left: 6%;
    font-size: 8vh;
    line-height: 8vh;
  }

  .header__button {
    display: inline-block;
  }

  .header__logo__hidden {
    display: none;
  }

  .hero__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .hero {
    width: 92%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .hero__block__pets {
    position: relative;
    width: 40%;
    margin-left: 0;
  }

  .hero__section__info {
    margin-top: 18%;
    margin-left: 6%;
  }
}