html {
  font-size: 16px;
  color: #ffffff;
  background: linear-gradient(330.24deg, rgba(0, 0, 0, 0) 31.06%, #000000 108.93%), url(../assets/images/hero-bg.png) no-repeat;
  background-color: black;
  background-size: 100%;
  font-family: "Open Sans";
}

header {
  height: 25px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  margin-left: 85px;
  margin-right: 84px;
}

section:not(:first-child) {
  margin-top: 10%;
}

.discover {
  font-weight: 400;
  font-size: 70px;
}

.header {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 346px;
  height: 25px;
}

.starter__follow {
  writing-mode: vertical-rl;
  line-height: 25px;
}

.nameofsite {
  font-weight: 850;
  line-height: 33px;
}

.starter {
  display: flex;
  flex-direction: row;
  width: 66%;
  margin-left: 85px;
  margin-top: 6%;
  justify-content: space-between;
  align-items: center;
}

h1 {
  text-transform: capitalize;
  font-weight: 900;
  font-size: 70px;
}

.note {
  color: #FFC178;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.starter__icons {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.starter__point:not(:first-child) {
  margin-top: 22px;
}

.scroller__item {
  text-align: center;
}

.starter__item__line-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}

.starter__beauty-container {
  width: 80%;
}

.bromo__container {
  width: 44%;
  margin: auto;
}

.starter__item__line {
  height: 2px;
  width: 72px;
  background-color: #FFC178;
}

.info {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.info__holidays {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info__holidays_image {
  height: 100%;
  width: 50%;
}

.info__line__holiday {
  font-weight: 700;
  font-size: 54px;
  line-height: 77px;
}

.info__line__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.info__holidays__text {
  width: 40%;
}

.item__for__reading {
  color: #FBD784;
  font-size: 18px;
  line-height: 25px;
}

.info {
  margin-top: 40%;
}

.read-more {
  color: #FBD784;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bromo__steps {
  width: 100%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 109.55%), url(../assets/images/steps-img.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.bromo__symbols {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bromo__text {
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__culture {
  display: flex;
  flex-direction: row-reverse;
}

.culture__container {
  width: 90%;
}

footer {
  margin-top: 10%;
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__title {
  font-size: 30px;
  font-weight: 700;
}

.footer__heading {
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__item {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__list__item {
  margin-top: 40px;
  padding: 0;
  list-style-type: none;
}

.footer__list__item__info:not(:first-child) {
  padding-top: 20px;
}

.footer__list__vacation {
  width: 30%;
  height: 30%;
}

.footer__button {
  color: black;
  width: 240px;
  height: 70px;
  font-size: 18px;
  border-radius: 8px;
  background-color: #FFA343;
  border: 1px solid #FFA343;
}

.footer__list__text {
  font-size: 30px;
}

.footer__list__address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid white;
}

.footer__button__address {
  background-color: #FFA343;
  border: 1px solid #FFA343;
  color: black;
  font-size: 18px;
  height: 70px;
  width: 70px;
  border-radius: 8px;
}

.yellow__list {
  color: #FFD1A0;
}

.footer__end {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__end__info,
.footer__end__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__end__info {
  width: 30%;
}

.footer__end__icons {
  width: 20%;
}

.footer__icon {
  width: 25px;
  height: 25px;
}

.footer__final__text {
  text-align: center;
}