.root__main-signUpPage {
    margin-left: 8%;
    width: 40%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main__signin__inputs {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #5E659D;
    align-items: center;
    border-radius: 10px;
}

.main__input__name, .main__input__password, .main__input__email {
    width: 95%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main__inputone__text {
    font-size: 2.8vh;
}

.main__input {
    width: 80%;
    height: 5.8vh;
    border: 4px solid #DBAC74;
    border-radius: 20px;
}

.main__button-JoinNow {
    border: none;
    background: #5E659D;
    color: white;
    border-radius: 10px;
    height: 8vh;
    width: 12vw;
    font-size: 3.5vh;
}

.main__image__girl-signUpPage {
    position: absolute;
    top: 0;
    right: -6%;
    z-index: -2;
    height: 100vh;
}