.root__main-featPage {
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 48vh;
    align-items: center;
    width: 50%;
    margin-top: -4%;
}

.main__title-featPage {
    font-weight: 300;
    font-size: 8vh;
    font-size: 5vw;
    margin: 0;
    /*margin-top: -5%;*/
}

.main__text-featPage {
    font-size: 2vh;
    font-size: 1.2vw;
    font-weight: 290;
    /*margin-left: 4.4%;*/
    /*margin-top: 5.5%;*/
}

.main__buttons-featPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    /*margin-top: 6.2%;*/
    /*margin-left: 5.5%;*/
}

.main__button-feat {
    width: 25%;
    border: none;
    background: #5E659D;
    color: white;
    border-radius: 10px;
    height: 8vh;
    font-size: 3.5vh;
}

.main__image__girl-featPage {
    position: absolute;
    top: 25%;
    right: 8%;
    z-index: -2;
    height: 50vh;
    width: 25vw;
}