.root__header-landing {
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 10%;
}

.header__logo {
    position: absolute;
    height: 14vh;
    z-index: -1;
    left: -8%;
}

.header__text {
    font-size: 2vw;
    font-weight: 300;
}