/* Download font 'Rubik' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #ffffff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff4948;
}

/* COMMON PAGE STYLES */
html {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-black);
  overflow-x: hidden;
}

body {
  width: 100%;
}

.app {
  max-width: 480px;
  margin: 0;
}

.main__section {
  background: linear-gradient(74.79deg, #FF9292 -7.33%, #DE5150 90.21%);
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  margin-top: 5%;
  margin-left: 5%;
  width: 21%;
  height: 21%;
}

.header__list {
  display: none;
 }

 .header__item__menu {
  display: flex;
 }

 .header__menu {
  margin-top: 3vh;
  margin-right: 2vh;
 }

 .hero__image__headphones {
  width: 80vw;
  height: 44vh;
  margin-top: 10%;
  margin-left: 8%;
 }

 .hero__list__text {
  margin-left: 8%;
 }

 .hero__title {
  font-weight: 400;
  color: white;
  font-size: 6.4vw;
  margin-top: -0.6%;
 }

 .hero__text__price {
  color: white;
 }

 .hero__text {
  color: white;
  margin-top: -3%;
  font-size: 9vw;
  font-size: 5vh;
 }

 .hero__prices {
  width: 70%;
  margin-left: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -4%;
 }

 .hero__white__dash {
  background: white;
  width: 0.4vw;
  height: 4vh;
 } 

 .hero__oldPrice {
  color: #E5E5E5;
  text-decoration-line: line-through;
  margin: 0;
  font-weight: 400;
 }

 .button__buyNow {
  width: 78%;
  height: 6vh;
  color: #FF4948;
  border: none;
  border-radius: 20px;
  margin-left: 8%;
  font-weight: 500;
  font-size: 2.6vh;
 }

 .property__descriprion {
  font-weight: 500;
  font-size: 6vw;
  font-size: 4.5vh;
  margin-left: 7%;
 }

 .property__title {
  font-weight: 500;
  font-size: 6vw;
  font-size: 4.5vh;
  margin: 0;
 }

 .description__text {
  color: #180202;
  margin: 0;
 }

 .text__learnMore {
  color: #FF4948;
  font-weight: 550;
  margin: 0;
 }

 .list__properties {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 60vh;
  margin-left: 6%;
 }

 .ellipse__half__property {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  border: 4px solid #FDD8D8;
  border-bottom: 7px solid #FF4948;
  border-radius: 100px;
 }

 .ellipse__property {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 18vw;
  height: 9vh;
  border-radius: 100px;
  border: 3px solid #FDD8D8; 
 }

 .item__battery, .item__bluetooth, .item__microphone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  width: 80%;
 }

 .battery__text__description, .bluetooth__text__description, .microphone__text__description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feature__image {
  height: 42vh;
  width: 55vw;
  margin-top: 15%;
}

.section__feature__image {
  display: flex;
  justify-content: center;
}

.section__productsHeadphones {
  margin: 0 auto 12%;
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product__title {
  width: 100%;
  text-align: center;
}

.productHeadphones__title {
  line-height: 10vh;
}

.description__text {
  line-height: 3.2vh;
}

.product__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.product__item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.product__item-first {
  display: none;
}

.product__item-third {
  display: none;
}

.product__photo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
  width: 80%;
  height: 60%;
}

.product__photo__first {
  background: #FFE6EE;
}

.product__photo__second {
  background: #E6F1FF;
}

.product__photo__third {
  background: #E6FFFB;
}

.photo__item__icon {
  position: absolute;
  border: 6px solid #FFFFFF;
  right: -8%;
  top: -8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  height: 7vh;
  width: 6.8vh;
}

.photo-first__item__icon {
  background: #FFE5EE;
}

.photo-second__item__icon {
  background: #E5F1FF;
}

.photo-third__item__icon {
  background: #E5FFFB;
}

.photo__icon {
  width: 50%;
  height: 50%;
}

.product__image {
  position: absolute;
  top: -16%;
  height: 110%;
  width: 50vw;
}

.product__rating {
  width: 80%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rating__icons {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.stars {
  width: 84%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-star__item {
  height: 100%;
  width: 16%;
}

.rating__textTitle {
  font-size: 2.6vh;
}

.rating__container {
  font-weight: 500;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.rating__cost {
  font-size: 2.6vh;
}

.rating__text {
  font-size: 2.2vh;
}

.section__theBox__list {
  margin-top: 16vh;
}

.box__image {
  width: 88vw;
  height: 40vh;
}

.boxing__item {
  display: flex;
  justify-content: center;
}

.theBox__description {
  margin-top: 0;
  margin-left: 8%;
  font-weight: 700;
  font-size: 15vh;
  font-size: 8.5vw;
}

.theBox__list__items {
  margin-top: -1.2%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 20%;
  border-bottom: 1px solid #000000;
}

.arrow__inCircle {
  width: 6vw;
  height: 6vh;
}

.theBox__text__item {
  font-size: 120%;
  font-weight: 400;
  margin-right: 56%;
  margin-top: 7%;
}

.theBox__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35vh;
  width: 100vw
}

.theBox__textExtra__item {
  font-weight: 400;
  font-size: 6vh;
  font-size: 5vw;
  margin-right: 49%;
}

.theBox__textBag__item, .theBox__textGuide__item {
  font-weight: 400;
  font-size: 6vh;
  font-size: 5vw;
  margin-right: 35%;
}

.section__subscribe {
  background: #FFF4F4;
  margin-top: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__subscribe__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.subscribe__title {
  font-weight: 700;
  font-size: 8vw;
  font-size: 6vh;
}

.subscribe__description {
  margin-top: -8%;
}

.section__subscribe__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  margin: 0;
}

.subscribe__email {
  width: 90%;
  height: 40%;
  border-radius: 100px;
  border: none;
  text-align: center;
}

.subscribe__button {
  margin-top: 8%;
  border-radius: 60px;
  width: 90%;
  height: 40%;
  background: #FF4948;
  border: none;
  color: white;
  font-size: 2.8vh;
}

.section__footer {
  margin-top: 20%;
  background: #E86564;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
}

.footer__images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 12vh;
}

.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin-right: 5%;
}

.list__item__footer {
  height: 7vh;
  width: 14vw;
  background-color: white;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__properties__list {
  display: none;
}

.section__swiper {
  margin: 10% auto 18%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 50vh;
}

.section__swiper__texts {
  text-align: center;
}

.swiper__header__text {
  margin: 0;
  font-size: 3.8vh;
  font-weight: 500;
}

.swiper {
  max-width: 80%;
  height: 50vh;
}

.slide {
  margin: 0 20%;
  height: 20vh;
  width: 60%;
}

.swiper-wrapper {
  top: 26%;
}

.swiper-slide-active .slide {
  box-shadow: 0px 21px 88px 0px #7E767633;
  border-radius: 20px;
  transform: scale(1.5);
}

.slide-prev,
.slide-next {
  position: absolute;
  transform: translateY(28vh);
}

.slide-prev {
  left: 0;
}

.slide-next {
  right: 0;
}

.menu__section {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(74.79deg, #FF9292 -7.33%, #DE5150 90.21%);
  display: none;
}

.menu__header__text {
  font-size: 8vh;
  font-size: 8vw;
  margin-left: 5%;
  color: white;
}

.menu__header {
  width: 100%;
  border-bottom: 2px solid white;
}

.menu__list__item {
  height: 6vh;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 100px;
}

.menu__list {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 90%;
}

.menu__main__section {
  margin: auto;
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 25vh;
}

.menu__list__names {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 90%;
}

.menu__item__name {
  margin-top: 5%;
  color: white;
  font-size: 3.5vh;
  text-decoration: underline;
}





@media screen and (min-width: 768px) {
  .app {
    max-width: 1280px;
  }

  .main__section {
    background: linear-gradient(74.79deg, #FF9292 -7.33%, #DE5150 90.21%);
    width: 100vw;
    height: 100vh;
  }

  .header {
    width: 70%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
  }
  
  .header__logo {
    width: 10vw;
    height: 10vh;
    margin-top: 1.5%;
  }

  .header__item__menu {
    display: none;
  }

  .hero__white__dash {
    background: white;
    width: 0.1vw;
    height: 5.5vh;
   } 

.header__list {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .list__item {
    height: 6vh;
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100px;
  }

  .hero__image__headphones {
    height: 75vh;
    width: 34vw;
    margin-top: 0.5%;
    margin-left: 10%;
  }

  .main__hero__section {
    display: flex;
    flex-direction: row;
  }

  .hero__list__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    height: 58%;
    margin-top: 6%;
  }

  .hero__title {
    font-weight: 400;
    font-size: 3vh;
  }

  .hero__text {
    font-size: 40vh;
    font-size: 6vw;
  }

  .hero__prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 28%;
    height: 8vh;
    margin-top: 1%;
  }

  .hero__text__price {
    color: white;
  }

  .hero__button__buyNow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 10vh;
  }

  .button__buyNow {
    margin: 0;
    width: 45%;
    height: 7vh;
    border-radius: 50px;
  }

  .section__properties {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 90vh;
  }

  .property__items__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .property__descriprion {
    font-weight: 700;
    font-size: 15vh;
    font-size: 2.8vw;
    width: 65%;
    height: 22%;
    margin-top: -5%;
    margin-left: 22%;
  }

  .list__properties {
    width: 27vw;
    height: 57vh;
    margin-left: 22%;
  }

  .ellipse__half__property {
    width: 23%;
    height: 90%;
  }

  .item__battery, .item__bluetooth, .item__microphone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 18%;
    width: 75%;
    margin-top: 2%;
   }

.ellipse__property {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 3.5vw;
    height: 7vh;
    border-radius: 100px;
    border: 3px solid #FDD8D8;  
  }

  .section__feature__image {
    margin-top: 0;
    width: 70%;
    height: 80%;
  }

  .feature__image {
    margin-top: 8%;
    margin-right: 26%;
    height: 68vh;
    width: 22vw;
  }

  .section__productsHeadphones {
    width: 82vw;
    margin-left: 8vw;
  }

  .productHeadphones__title {
    font-size: 2.8vh;
    font-size: 2.5vw;
  }

  .description__text {
    margin-top: -2%;
  }

  .product__item {
    height: 128%;
  }

  .product__items {
    margin-top: 6%;
  }

  .product__item-first {
    display: flex;
  }
  
  .product__item-third {
    display: flex;
  }  

  .product__image {
    width: 65%;
  }

  .product__title {
    width: 48%;
  }

  .productHeadphones__title {
    line-height: 7vh;
  }

  .section__theBox__list {
    margin-top: 8%;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .box__image {
    margin-left: 70%;
    width: 42vw;
    height: 95%;
  }

  .theBox__list {
    margin-top: 3.5%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
    height: 75%;
  }

  .theBox__description {
    width: 45%;
    font-size: 3.8vh;
    font-size: 2.5vw;;
  }

  .theBox__list__items {
    width: 40%;
  }

  .arrow__inCircle {
    margin-top: 3%;
    width: 3vw;
    height: 3vh;
  }

  .theBox__text__item {
    font-size: 3.5vh;
    font-size: 1vw;
  }

  .theBox__textExtra__item {
    font-size: 3.5vh;
    font-size: 1vw;
    margin-right: 9.8vw;
    margin-top: 8%;
  }

  .theBox__textBag__item {
    font-size: 3.5vh;
    font-size: 1vw;
    margin-right: 7.6vw;
    margin-top: 8%;
  }

  .theBox__textGuide__item {
    font-size: 3.5vh;
    font-size: 1vw; 
    margin-right: 7.3vw;
    margin-top: 8%;
  }

  .section__subscribe {
    margin-top: 12vh;
    width: 45%;
    height: 35%;
    border-radius: 12px;
  }

  .All__itemsSubscribe {
    margin-top: 2%;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .section__subscribe__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .subscribe__email {
    width: 50%;
    margin-right: 12%;
    position: relative;
  }

  .subscribe__button {
    margin-top: 0;
    width: 12vw;
    height: 8.5vh;
    right: 32%;
    position: absolute;
  }

  .section__footer {
    margin-top: 10%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__properties__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    margin-left: 5%;
  }

  .footer__images {
    margin-left: 5%;
  }

  .footer__list {
    width: 20%;
  }

  .list__item__footer {
    width: 20%;
  }

  .footer__property {
    color: white;
  }

  .section__swiper {
    height: 70vh;
    width: 77vw;
    margin: 6% 12.5%;
  }

  .swiper__header__text {
    font-weight: 700;
    font-size: 4.5vh;
  }

  .swiper {
    max-width: 70%;
    height: 70vh;
  }
  
  .slide {
    margin: 0 5%;
    height: 30vh;
    width: 96%;
  }

  .slide-prev,
  .slide-next {
    transform: translateY(35vh);
  }
}
